*
!software-projects-guideline/
!software-projects-guideline/**
!postman-queries/
!postman-queries/**
!video-extractor/
!video-extractor/**
video-extractor/**/frames/
video-extractor/**/*.mp4
video-extractor/**/*.wav
video-extractor/**/*.mp3
video-extractor/.env
video-extractor/.venv/
video-extractor/venv/
video-extractor/**/*.pt
video-extractor/**/capture.log
!.gitignore